@import '@/scss/variable.scss';

.#{$toolBarClassName}{
  position: absolute;
  background: $primary-color;
  color: #fff;
  .tool-list{
    margin: 0;
    padding: 0;
    .tool-item{
      display: inline-block;
      list-style: none;
      cursor: pointer;
      padding: 3px 7px;
    }
  }
}