@import './variable.scss';
$header-width:45px;
.easy-component{
  display: flex;
  height: 100%;
  .left{
    flex: 1;
    height: 100%;
    padding-top: $header-width;
    box-sizing: border-box;
    .header{
      height: $header-width;
      margin-top: -$header-width;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
    }
    .main{
      height: 100%;
    }
  }
  .right{
    flex:0 0 200px;
    height: 100%;
    border-left: 1px solid #eee;
  }
}
