@import './variable.scss';
.easy-component{
  position: relative;
  display: flex;
  height: 100%;
  .btn-exit-preview{
    display: none;
  }
  &.preview{
    .left{
      padding-top: 0;
      .header{
        display: none;
      }
    }
    .right{
      display: none;
    }
    .btn-exit-preview{
      position: absolute;
      top:0;
      left:0;
      z-index: 1;
      display: inline;
      background: $primary-color;
      padding: 2px 4px;
      color: #fff;
    }
    *[data-highlightab]{
      outline: none;
    }
  }
  .left{
    display: flex;
    flex: auto;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    .header{
      height: $header-height;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
      color: #fff;
      line-height: $header-height;
      padding: 0 10px;
      text-align: right;
      background: $primary-color;
      .btn-action{
        color: #fff;
        padding: 0 4px;
      }
    }
    .main{
      display: flex;
      flex: auto;
    }
  }
  .right{
    width: $right-width;
    height: 100%;
    overflow: scroll;
    border-left: 1px solid #eee;
    .ant-tabs-top-bar{
      margin: 0;
    }
  }
  .color-primary{
    color: $primary-color;
  }
}
